/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

body {
    background: url("../images/blobs.png") center top / contain no-repeat;
}

/* Typography */
body,
.card {
    font-family: 'Open Sans', sans-serif;
	color: #1d293f;
}

.copy-title {
    letter-spacing: -1px;
}

.bg-dark {
    color: #ffffff;
    background: #1d293f;
}

/* Navbar */
.navbar-collapse {
    background: #1d293f;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color:#ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(242 232 232 / 70%);
}

@media screen and (min-width:992px) {
    .navbar-collapse {
        background: transparent;
    }
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.5);
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(0,0,0,.7);
    }
}

.navbar img {
    max-width: 2rem;
}

.btn-primary {
    background-color: #258aff;
    border-color: #258aff;
}


/* Logo section */
#logo-grid img {
    max-width: 6.25rem;
}

section {
    padding: 5rem 0;
}
