
/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

body {
    background: url("../images/blobs.png") center top / contain no-repeat;
}

/* Typography */
body,
.card {
    font-family: 'Open Sans', sans-serif;
	color: #1d293f;
}

.copy-title {
    letter-spacing: -1px;
}

/* Navbar */
.navbar img {
    max-width: 2rem;
}

.show {
    background: white;
}

/* Logo section */
#logo-grid img {
    max-width: 6.25rem;
}

section {
    padding: 5rem 0;
}

.bg-dark {
    background: #1d293f;
    color: #ffffff;
}